<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgcq6DKNSC3ISd2GyJ-9PRP3jEa_aga98</string>
	<key>GCM_SENDER_ID</key>
	<string>1078336816845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beslenme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beslenme-bf4d8</string>
	<key>STORAGE_BUCKET</key>
	<string>beslenme-bf4d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078336816845:ios:81810b53e83ab60015cb84</string>
</dict>
</plist>